In [1]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data = pd.read_html(url)

In [2]:
df = data[1]
data[1].head()

             Date  Added                     Removed                       \
             Date Ticker            Security  Ticker             Security
0   June 20, 2023   PANW  Palo Alto Networks    DISH         Dish Network
1     May 4, 2023   AXON     Axon Enterprise     FRC  First Republic Bank
2  March 20, 2023   FICO          Fair Isaac    LUMN   Lumen Technologies
3  March 15, 2023     BG       Bunge Limited    SBNY       Signature Bank
4  March 15, 2023   PODD             Insulet    SIVB  SVB Financial Group

                                              Reason
                                              Reason
0                   Market capitalization change.[4]
1  The Federal Deposit Insurance Corporation (FDI...
2                   Market capitalization change.[6]
3  The FDIC placed Signature Bank into FDIC Recei...
4  The FDIC placed SVB's main subsidiary, Silicon...

In [3]:
df = df.sort_index(ascending=False)

In [4]:
newDf = df[[("Date", "Date"), ("Added", "Ticker"), ("Removed", "Ticker")]]
newDf.columns = newDf.columns.get_level_values(0)

In [5]:
newDf.head()

                  Date Added Removed
324      June 17, 1997   CCI     USL
323  December 11, 1998  CPWR     SUN
322  December 11, 1998   CCL     GRN
321  December 11, 1998   FSR     LDW
320       June 9, 1999   WLP     HPH

In [6]:
#all tickers:
list(set(newDf["Added"].dropna()).union(set(newDf["Removed"].dropna())))

['FFIV',
 'CPWR',
 'MAC',
 'LUK',
 'MNST',
 'GEHC',
 'BS',
 'MI',
 'ABMD',
 'AWK',
 'PANW',
 'CCK',
 'VTR',
 'EQT',
 'PTC',
 'SUN',
 'GGP',
 'THC',
 'NWSA',
 'GNRC',
 'KSS',
 'AKS',
 'ALB',
 'TRMB',
 'INVH',
 'STI',
 'NDSN',
 'LO',
 'EPAM',
 'TFX',
 'CTLT',
 'FTV',
 'MGM',
 'CCE',
 'NSM',
 'WFM',
 'DG',
 'MTD',
 'DRE',
 'GR',
 'GRN',
 'BXLT',
 'STE',
 'HBI',
 'UNM',
 'AMD',
 'XL',
 'NYX',
 'ESS',
 'ROL',
 'VIAB',
 'PKG',
 'LKQ',
 'SIG',
 'FTNT',
 'ODP',
 'SRCL',
 'PCS',
 'HCBK',
 'BMC',
 'GME',
 'FOSL',
 'BCR',
 'AVP',
 'RMD',
 'CPRI',
 'SCG',
 'CVC',
 'NWS',
 'NCLH',
 'CHK',
 'CMG',
 'JNPR',
 'MRNA',
 'PGN',
 'GLK',
 'ACAS',
 'PTV',
 'HSIC',
 'DO',
 'KG',
 'LLTC',
 'PCG',
 'TDC',
 'EK',
 'HNZ',
 'DPS',
 'GT',
 'XRX',
 'DJ',
 'JBHT',
 'URBN',
 'WLP',
 'RJF',
 'SLM',
 'SIVB',
 'ABBV',
 'GNW',
 'SBUX',
 'DAL',
 'ANF',
 'LLL',
 'QEP',
 'CAM',
 'TIF',
 'CRL',
 'FSR',
 'DPZ',
 'IT',
 'EQIX',
 'HCA',
 'FRC',
 'EW',
 'RDC',
 'RTN',
 'LEG',
 'HOLX',
 'T',
 'TEG',
 'ZTS',
 'CPRT',
 'JBL',
 'WIN',
 'ESV',
 'IDXX',
 'DV',
 'FDO',
 'DTV',
 'ATO',
 'WPX',
 'MLM',
 'UHS',
 'FLIR',
 'CBE',
 'PDCO',
 'FNM',
 'SNPS',
 'MNK',
 'POM',
 'TRIP',
 'JNS',
 'NOVL',
 'WAB',
 'HAR',
 'ENDP',
 'BLK',
 'DXC',
 'X',
 'STZ',
 'UAL',
 'AIV',
 'HRS',
 'MBC',
 'CE',
 'TEL',
 'BG',
 'R',
 'GRMN',
 'CSGP',
 'CSRA',
 'SII',
 'NBL',
 'ATVI',
 'CA',
 'CZR',
 'JWN',
 'SNDK',
 'ENPH',
 'FDC',
 'JKHY',
 'CDW',
 'NYT',
 'APC',
 'INFO',
 'TLAB',
 'AV',
 'TWX',
 'LW',
 'HOG',
 'WLTW',
 'LSI',
 'TSG',
 'SPLS',
 'M',
 'MAA',
 'AYE',
 'DFS',
 'AMZN',
 'EMC',
 'VNO',
 'CNC',
 'HPE',
 'ANSS',
 'MOLX',
 'ADT',
 'TYL',
 'SIAL',
 'PLL',
 'ALLE',
 'LDW',
 'SNI',
 'OI',
 'PBCT',
 'V',
 'HOT',
 'KMI',
 'AME',
 'GMCR',
 'MEE',
 'CMCSK',
 'TMC',
 'MPC',
 'IEX',
 'WFR',
 'BHF',
 'COTY',
 'ANET',
 'COG',
 'REG',
 'BWA',
 'BR',
 'AJG',
 'CPGX',
 'CPT',
 'CLF',
 'RCL',
 'MON',
 'WRB',
 'RRC',
 'OGN',
 'MMI',
 'COV',
 'KRFT',
 'GOOGL',
 'ALGN',
 'WST',
 'VICI',
 'ON',
 'DISCK',
 'LUMN',
 'JOY',
 'NCR',
 'EXR',
 'PNR',
 'NVR',
 'CRM',
 'FRT',
 'AET',
 'ZBRA',
 'DNB',
 'CTX',
 'GPS',
 'TGNA',
 'XLNX',
 'DLR',
 'OMX',
 'CFN',
 'JOYG',
 'OTIS',
 'RAI',
 'DXCM',
 'ATI',
 'BRCM',
 'XEC',
 'CDAY',
 'PYPL',
 'ALK',
 'TSCO',
 'SWN',
 'SHLD',
 'YHOO',
 'TTWO',
 'DD',
 'INCY',
 'JEC',
 'VRSK',
 'CEG',
 'ARNC',
 'ANR',
 'WYN',
 'NFLX',
 'STR',
 'NLSN',
 'NVLS',
 'BBBY',
 'POOL',
 'DYN',
 'BJS',
 'PBI',
 'ABS',
 'NFX',
 'NE',
 'PENN',
 'LNT',
 'HRB',
 'IGT',
 'CTVA',
 'HP',
 'LIFE',
 'ABK',
 'FDS',
 'MHK',
 'ALTR',
 'COO',
 'ACE',
 'FAST',
 'ITT',
 'ILMN',
 'ETSY',
 'NKTR',
 'SMS',
 'RX',
 'ARG',
 'AN',
 'FMC',
 'TWC',
 'CSC',
 'NAVI',
 'WB',
 'WU',
 'KHC',
 'TECH',
 'PAYC',
 'MSCI',
 'CHTR',
 'PVH',
 'TYC',
 'FB',
 'EP',
 'JDSU',
 'GRA',
 'TDG',
 'STX',
 'MOS',
 'SE',
 'LRCX',
 'HLT',
 'MFE',
 'RRD',
 'SLE',
 'AMG',
 'LYV',
 'S',
 'PRGO',
 'FTR',
 'MXIM',
 'FLR',
 'FLS',
 'ULTA',
 'ADS',
 'IPGP',
 'AOS',
 'BC',
 'DLTR',
 'NOV',
 'HWM',
 'ETFC',
 'CBOE',
 'ACN',
 'CFG',
 'HII',
 'DF',
 'FRE',
 'CCL',
 'LEH',
 'AGN',
 'SBL',
 'LYB',
 'AAP',
 'VAR',
 'CEPH',
 'RHT',
 'BRO',
 'EVRG',
 'USL',
 'ODFL',
 'MKTX',
 'FRX',
 'AVB',
 'BMS',
 'ALXN',
 'CIEN',
 'UA',
 'MAT',
 'CHD',
 'LM',
 'O',
 'SLR',
 'APOL',
 'SGP',
 'SEDG',
 'MOH',
 'RIG',
 'KBH',
 'FL',
 'TSLA',
 'RAD',
 'KDP',
 'URI',
 'CFC',
 'MWW',
 'DOW',
 'CDNS',
 'PCP',
 'TSO',
 'GM',
 'FTI',
 'FLT',
 'TIE',
 'ROST',
 'TWTR',
 'ARE',
 'TDY',
 'SYF',
 'JNY',
 'MBI',
 'CNX',
 'LVS',
 'COL',
 'CVH',
 'CTXS',
 'QTRN',
 'STJ',
 'FBHS',
 'PCLN',
 'TE',
 'TER',
 'CVG',
 'BEAM',
 'LVLT',
 'VNT',
 'DELL',
 'ANDV',
 'SBNY',
 'ESRX',
 'KEYS',
 'INTU',
 'FII',
 'PCL',
 'MPWR',
 'JEF',
 'XTO',
 'FICO',
 'CERN',
 'SWY',
 'AVGO',
 'AA',
 'ACGL',
 'XYL',
 'EVHC',
 'CARR',
 'TRGP',
 'LXK',
 'PETM',
 'Q',
 'HFC',
 'CB',
 'DLPH',
 'HPH',
 'LDOS',
 'HSP',
 'GPN',
 'ICE',
 'AMCR',
 'BIO',
 'JCP',
 'PSX',
 'MUR',
 'KSU',
 'RE',
 'KFT',
 'FHN',
 'TRB',
 'MHS',
 'STLD',
 'GENZ',
 'CCI',
 'MTCH',
 'HRL',
 'NXPI',
 'PODD',
 'FANG',
 'UAA',
 'REGN',
 'QRVO',
 'IR',
 'KORS',
 'SBAC',
 'DNR',
 'SVU',
 'WCG',
 'BTU',
 'CELG',
 'CXO',
 'BIG',
 'GAS',
 'SLG',
 'FOX',
 'DISH',
 'TSS',
 'AAL',
 'MJN',
 'DWDP',
 'FSLR',
 'EXPE',
 'SAI',
 'AXON',
 'KSE',
 'KMX',
 'NBR',
 'UDR',
 'NOW',
 'TMUS',
 'VRTX',
 'GHC',
 'SWKS',
 'RSH',
 'MIL',
 'AYI']

In [7]:
rows = {}
for i in range(len(newDf)):
    date = newDf["Date"][i]
    if date in rows:
        continue
    temp = newDf[newDf["Date"] == date]
    temp.reset_index(inplace=True)
    addedList = []
    removedList = []
    for j in range(len(temp)):
        if type(temp["Added"][j]) == str:
            addedList.append(temp["Added"][j])
        if type(temp["Removed"][j]) == str:
            removedList.append(temp["Removed"][j])
    rows[date]= {"added": addedList, "removed": removedList}

In [8]:
final_df = pd.DataFrame(rows).T
final_df.index = pd.to_datetime(final_df.index)
final_df = final_df.sort_index(ascending=True)
final_df.reset_index(inplace=True)

In [9]:
final_df.head()

       index             added          removed
0 1997-06-17             [CCI]            [USL]
1 1998-12-11  [CPWR, CCL, FSR]  [SUN, GRN, LDW]
2 1999-06-09             [WLP]            [HPH]
3 1999-12-07            [YHOO]            [LDW]
4 2000-06-07            [SBUX]            [SMS]

In [10]:
def transform(x):
    st = ""
    for i in x:
        st += i+ " "
    return st

In [11]:
final_df["added"] = final_df["added"].apply(transform)
final_df["removed"] = final_df["removed"].apply(transform)

In [12]:
final_df

         index          added       removed
0   1997-06-17           CCI           USL
1   1998-12-11  CPWR CCL FSR   SUN GRN LDW
2   1999-06-09           WLP           HPH
3   1999-12-07          YHOO           LDW
4   2000-06-07          SBUX           SMS
..         ...            ...           ...
247 2023-01-05                         VNO
248 2023-03-15       PODD BG     SIVB SBNY
249 2023-03-20          FICO          LUMN
250 2023-05-04          AXON           FRC
251 2023-06-20          PANW          DISH

[252 rows x 3 columns]

In [13]:
final_df.to_csv("SPYChanges.csv", index=False)